html {
    background-color: rgb(30, 30, 30);
    font-family: 'Lucida Console';
    color: rgb(255, 255, 255);
    overflow: hidden;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    padding: 1.5vh;
    margin-right: 5vh;
    margin-left: 5vh;
    margin-bottom: 3vh;
    background-color: rgb(120, 65, 180);
    transition: 200ms ease;
    border-radius: 0.2vh;
    font-size: 1.2vh;
    cursor: pointer
}

a:hover {
    background-color: rgb(110, 55, 165);
}

h1,h2,p {
    font-size: 1.3vh;
    font-weight: normal;
}

h2 {
    padding: 1vh 0vh 2vh 0vh;
}

h2::before {
    content: "#### ";
}

main {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-direction: column;
        flex-direction: column;
}

/*Other
=======================*/

.contentsec {
    margin: auto;
    top: 50%;
}

.contentsec h1 {
    padding: 0vh 10vh 0vh 10vh;
}

.title {
    margin: 4.7vh 0vh 5vh 0vh;
    width: 50vh;
    height: 10vh;
    cursor: pointer;
}

.socialh2 {
    padding: 1vh 0vh 2vh 0vh;
}